@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-[#e0e0e0] overflow-x-hidden;
    font-feature-settings: "cv11", "ss01";
  }
}